<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://127.0.0.1:8080/js/jquery.js"></script>
    <script src="http://127.0.0.1:8080/js/script.js"></script>
</head>
<body>
<div className="App-container">
    <header className="App-header">
        <span className="Vse-dostavki-logo">всеДоставки</span>
    </header>
    <div className="container">
        <form>
            <div className="form-check">
                <label>
                    Имя отправителя:<br/>
                    <input type="text" id="name" name="senderName"/>
                </label><br/>
                <label>
                    Адрес отправителя:<br/>
                    <input type="text" id="from" name="senderAddress"/>
                </label><br/>
                <label>
                    Имя получателя:<br/>
                    <input type="text"  name="recipientName"/>
                </label><br/>
                <label>
                    Адрес получателя:<br/>
                    <input type="text" id="to" name="recipientAddress"/>
                </label><br/>
                <label>
                    Вес груза (кг):<br/>
                    <input type="number" id="weight" name="weight"/>
                </label><br/>
                <label>
                    Тип доставки:<br/>
                    <select id="speedType">
                        <option value="emergency">Обычная</option>
                        <option value="fast">Ускоренная</option>
                    </select>
                </label>
            </div>
            <div className="form-group">
                <input id="send-form" type="button" value="Рассчитать">
            </div>
        </form>
    </div>
</div>
</body>
</html>