<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://127.0.0.1:8080/js/jquery.js"></script>
    <script src="http://127.0.0.1:8080/js/script.js"></script>
    <link href="index.css" rel="stylesheet">
</head>
<body>
<div class="app-container">
    <header class="app-header">
        <span class="Vse-dostavki-logo">всеДоставки</span>
    </header>
    <div class="container">
        <form>
            <div class="form-check">
                <h3>Шаг 1. Кто, кому, куда и сколько</h3>
                <label>
                    Имя отправителя:<br/>
                    <input class="form-input" id="name" name="senderName" type="text"/>
                </label><br/>
                <label>
                    Адрес отправителя:<br/>
                    <input class="form-input" id="from" name="senderAddress" type="text"/>
                </label><br/>
                <label>
                    Имя получателя:<br/>
                    <input class="form-input" name="recipientName" type="text"/>
                </label><br/>
                <label>
                    Адрес получателя:<br/>
                    <input class="form-input" id="to" name="recipientAddress" type="text"/>
                </label><br/>
                <label>
                    Вес груза (кг):<br/>
                    <input class="form-input" id="weight" name="weight" type="number"/>
                </label><br/>
                <h3>Шаг 2. Способ доставки</h3>
                <label>
                    Тип доставки:<br/>
                    <select class="form-select" id="speedType">
                        <option value="emergency">Обычная</option>
                        <option value="fast">Ускоренная</option>
                    </select>
                </label>
            </div>
            <div>
                <input class="form-submit" id="send-form" type="button" value="Рассчитать">
            </div>
        </form>
    </div>
</div>
</body>
</html>